<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>whatever</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses your location to help you register.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Request permission to use location service when the apps is in background. in your plist file.</string>
</dict>
</plist>
